<h1>Chris Angular</h1>
<br>

<app-posts></app-posts>







<app-signup-form></app-signup-form>
<br>


<div class="card border-primary mb-3" >
    <div class="card-header">People <button class="btn btn-primary" (click)="addPerson()">Add Me</button> </div>
    <div class="card-body text-primary" *ngIf="data.length > 0; else noData" >
        <table class="table table-stripped">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Option</th>
                <th>Delete</th>
            </thead>
            <tbody>
                 <tr *ngFor="let d of data "> <!--; ngForTrackBy:trackPerson -->
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td><favorite [is-favorite]="d.isFav"></favorite></td> 
                    <td><button class="btn btn-danger" (click)="removePerson(d)"> Remove</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card card-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn"
            [ngStyle]="{
                'backgroundColor':canSave ? 'green' :'gray'
            }"
        >Save</button>
    </div>
    </div>
    <ng-template #noData>
        <p>No data</p>
        </ng-template>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link" [class.active]="viewMode == 'points'" aria-current="page" (click)="viewMode = 'points'">Points</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"  [class.active]="viewMode == 'data'"  (click)="viewMode = 'data'">Data</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"  [class.active]="viewMode == 'map'"  (click)="viewMode = 'map'">Map</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"  [class.active]="viewMode == 'list'" (click)="viewMode = 'list'" >List</button>
    </li>
  </ul>
  <div [ngSwitch]="viewMode">
      <div *ngSwitchCase="'points'">Points !!!</div>
      <div *ngSwitchCase="'data'">Data !!!</div>
      <div *ngSwitchCase="'map'">Map !!!</div>
      <div *ngSwitchCase="'list'">List !!!</div>
      <div *ngSwitchDefault>Nothing </div>
  </div>
<br>
  <contact-form></contact-form>
  <br>

  <app-new-course></app-new-course>
